@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bitcount+Prop+Single:wght@100..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sekuya&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap");

/* font-family: "Roboto Condensed", sans-serif;
font-family: "Source Serif 4", serif;
font-family: "Roboto", sans-serif;
font-family: "Bitcount Prop Single", system-ui; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* -----------GENERALES---------- */
h1 {
  color: #eee7e7de;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-size: x-large;
  font-family: "Roboto Condensed", sans-serif;
}

h2,
h3 {
  color: #eee7e7de;
  font-size: large;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-family: "Source Serif 4", serif;
}

p {
  color: #eee7e7de;
  margin-bottom: 20px;
  font-size: medium;
  font-family: "Roboto Condensed", sans-serif;
}

/* -----------HEADER---------- */

.logo {
  width: 20%;
  height: auto;
}

/* -----------BODY---------- */

body {
  background-color: #440101af;
  font-family: "Times New Roman", Times, serif;
}

/* -----------MAIN---------- */
.contenedorPrincipal {
  display: grid;
  grid-template-areas:
    "header header"
    "main main"
    "footer footer";
  gap: 10px;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

.formulario-contenedor {
  border-radius: 10px;
  margin: 1rem;
  color: black;
  background-color: #eee7e7de;
  padding: 1rem;
}

.carousel-inner img {
  margin: auto;
}

.portadaNosotros {
  width: 100%;
  height: auto;
}
/* -----------FOOTER---------- */

.footer {
  display: flex;
  justify-content: space-around;
}

.redesSociales {
  display: flex;
  background-color: #440101af;
  margin-bottom: 10px;
}

.iconosRedesSociales {
  display: flex;
  justify-content: flex-start;
  width: 35px;
  height: 35px;
}

footer div ul li a {
  color: #eee7e7de;
  text-decoration: none;
  margin-left: 20px;
  line-height: 35px;
}

.pieDePagina {
  display: flex;
  justify-content: center;
  gap: 50px;
  background-color: #440101af;
}

/* ---------MEDIA QUERIES-------- */

@media (min-width: 768px) {
  h1 {
    color: #eee7e7de;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    font-size: xx-large;
    font-family: "Roboto Condensed", sans-serif;
  }

  p,
  h2,
  h3 {
    font-size: x-large;
  }

  .logo {
    width: 15%;
    height: auto;
  }

  .carousel {
    width: 75%;
    object-fit: cover;
    object-position: center;
  }
}

@media (min-width: 1024px) {
  h1 {
    color: #eee7e7de;
    justify-content: center;
    margin-bottom: 20px;
    font-size: xx-large;
    font-family: "Roboto Condensed", sans-serif;
  }
  p,
  h2,
  h3 {
    font-size: x-large;
  }
  .logo {
    width: 8%;
    height: auto;
  }
  .carousel {
    width: 55%;
    object-fit: cover;
    object-position: center;
  }
}
